<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.quiz.lesson06.dao.FavoriteDAO">
 	<insert id="InsertFavorite" parameterType="com.quiz.lesson06.model.FavoriteUrl">
 		INSERT INTO `favorite_url`
 		(
			`name`
			,`url`
			,`createdAt`
			,`updatedAt`
		)
 		VALUES
 		(
 			#{name}
 			,#{url}
 			,NOW()
 			,NOW()
 		)
 	</insert>
 	
 	<select id="selectFavoriteList" resultType="com.quiz.lesson06.model.FavoriteUrl">
 		SELECT
 			`id`
 			,`name`
			,`url`
			,`createdAt`
			,`updatedAt`
		FROM
			`favorite_url`
 	</select>
 	
 	<!-- 중복 확인 select(한 행을 가져오기) -->
 	<select id="selectFavoriteByUrl" resultType="com.quiz.lesson06.model.FavoriteUrl" parameterType="String">
 		SELECT
 			`id`
 			,`name`
			,`url`
			,`createdAt`
			,`updatedAt`
		FROM
			`favorite_url`
 		WHERE
 			`url` = #{url}
 	</select>
 	
 	<!-- 중복 확인 select(한 행을 가져오기)_BO가공 버전 -->
 	<select id="selectFavoriteListByUrl" resultType="com.quiz.lesson06.model.FavoriteUrl" parameterType="String">
 		SELECT
 			`id`
 			,`name`
			,`url`
			,`createdAt`
			,`updatedAt`
		FROM
			`favorite_url`
 		WHERE
 			`url` = #{url}
 	</select>
 	
 	<!-- 삭제 -->
 	<delete id="deleteFavoriteByid" parameterType="int">
		DELETE 
		FROM
			`favorite_url`
		WHERE
			 `id` = #{id};
 	</delete>
 	
 </mapper>